
<header ng-include="'templates/nav.html'"></header>

<h1>{{title}}</h1>

<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">Search</div>
      <input type="text" class="form-control" placeholder="Search data" ng-model="searchData" style="width: 250px;">
    </div>
  </div>
</form>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th><a href="javascript: void(0)"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Name
                <span ng-show="sortType == 'name' && sortReverse " class="arrow-up icon"></span>
                <span ng-show="sortType == 'name' && !sortReverse" class="arrow-down icon"></span>
            </a></th>
            <th><a href="javascript: void(0)" ng-click="sortType = 'age'; sortReverse = !sortReverse">Age
                <span ng-show="sortType == 'age' && sortReverse " class="arrow-up icon"></span>
                <span ng-show="sortType == 'age' && !sortReverse" class="arrow-down icon"></span>
            </a></th>
            <th><a href="javascript: void(0)" ng-click="sortType = 'phone'; sortReverse = !sortReverse">Phone
                <span ng-show="sortType == 'phone' && sortReverse " class="arrow-up icon"></span>
                <span ng-show="sortType == 'phone' && !sortReverse" class="arrow-down icon"></span>
            </a></th>
            <th>Controller</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="friend in friends | orderBy:sortType:sortReverse | filter: searchData">
            <td>
              <input type="text" ng-model=" friend.name" ng-disabled="!editing">
            </td>
            <td>
              <input type="text" ng-model="friend.age" ng-disabled="!editing">
            </td>
            <td>
                <input type="text" ng-model="friend.phone" ng-disabled="!editing">
            </td>
            <td>
                <button class="btn" ng-show="!editing" ng-click="editing = !editing">Edit</button>
                <button class="btn" ng-show="editing" ng-click="editing = !editing ; save();">Save</button>
                <button class="btn" ng-click="friends.splice($index,1)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<button ng-click="addNewRow()" class="btn btn-danger">Add new user</button>
<!-- <ul>
    <li ng-class="{'special': friend.isSpecial}" ng-repeat="friend in friends">
        <input type="text" ng-model="friend.name">
        <input type="text" ng-model="friend.age">
        <button ng-click="friends.splice($index,1)" class="btn btn-danger">Delet</button>
    </li>
</ul> -->
