<div class="logo-container"><a ui-sref="begin"><img src="http://static.tumblr.com/vosgphl/MZbmm7vey/random-logo.gif" alt=""></a></div>
<nav class="navbar navbar-inverse navbar-fixed-top user-navbar">
  <ul class="nav sidebar-nav">
      <li ui-sref-active="active"><a ui-sref="main">Users</a></li>
      <li ui-sref-active="active"><a ui-sref="roles">Roles</a></li>
  </ul>
</nav>
