body {
  background-color: lightgrey;
  padding: 100px 100px 100px 250px;
}
.nav, .pagination, .carousel, .panel-title a, a { cursor: pointer; }
.logo-container{
    width: 100%;
    display: flex;
    img{width: 100px;}
}


.arrow-up.icon {
    display: inline-block;
  color: #000;
  position: absolute;
  margin-left: 10px;
  margin-top: 3px;
  width: 1px;
  height: 16px;
  background-color: currentColor;
}

.arrow-up.icon:before {
  content: '';
  position: absolute;
  left: -5px;
  top: 1px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow-down.icon {
    display:inline-block;
  color: #000;
  position: absolute;
  margin-left: 10px;
  margin-top: 2px;
  width: 1px;
  height: 16px;
  background-color: currentColor;
}

.arrow-down.icon:before {
  content: '';
  position: absolute;
  left: -5px;
  top: 3px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

input{border: none;background: #fff;}

.user-navbar{
  width: 200px;
  height: 100vh;
}
